* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
    background-color: hsl(30, 38%, 92%);

}

.wrapper {
    width: 500px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
}

.box-1 {
    width: 50%;

    img {
        height: 100%;
    }
}



.box-2 {
    width: 50%;
    padding: 20px;
    background-color: #fff;
}

.small {
    font-family: "Montserrat" serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    color: grey;
}

h1 {
    font-family: "Fraunces", serif;
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 10px;
}

.description {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    color: grey;
    font-size: 15px;
    margin-bottom: 10px;
}

.price-con {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;

    .price {
        font-family: "Fraunces", serif;
        font-weight: 700;
        color: hsl(158, 36%, 37%);
        font-size: 30px;
    }

    .slashed-price {
        font-family: "Fraunces", serif;
        font-size: 14px;
        color: grey;
    }
}

.btn {
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 43px;
    font-size: 13px;
    font-weight: 600;
    color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    span {
        display: block;
    }
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: hsl(158, 55%, 22%);
}

@media (max-width: 720px) {
    .wrapper {
        flex-direction: column;
        height: auto;
        width: 80%;
    }

    .box-1,
    .box-2 {
        width: 100%;
    }

    .box-1 {
        height: 250px;
    }
}