* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: hsl(233, 47%, 7%);
}

#container {
    width: 900px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.div-2 {
    height: inherit;
    background: url('./images/image-header-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 2;

    div {
        width: inherit;
        height: inherit;
        background-color: hsla(277, 81%, 24%, 0.5);
    }
}

.div-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(244, 38%, 16%);
    color: #fff;
}

#highlight {
    color: hsl(277, 64%, 61%);
}

.sub-con {
    margin-inline: auto;
    width: 80%;
    margin-bottom: 20px;

    h1 {
        width: 330px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    p {
        width: 320px;
        font-size: 13px;
        color: hsl(0, 0%, 100%);
    }
}

#points {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin-top: 30px;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
    }

    div>span {
        font-size: 23px;
        font-weight: 600;
    }

    div:nth-of-type(3) {
        text-align: right;
    }
}

@media (max-width: 760px) {
    body {
        height: 100%;
    }

    #container {
        height: 800px;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        margin-block: 30px;
    }

    .div-1 {
        text-align: center;
    }

    .div-2 {
        background: url('./images/image-header-mobile.jpg');
        height: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        div {
            width: inherit;
            height: inherit;
            background-color: hsla(277, 81%, 24%, 0.5);
        }
    }

    #points {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 82%;
        gap: 40px;
        align-items: center;
        margin-bottom: 30px;

        div:nth-of-type(3) {
            text-align: center;
        }
    }

    .sub-con {

        h1,
        p {
            width: auto;
        }

        p {
            font-size: 15px;
        }
    }
}